[Unit]
Description=Twingate PagerDuty Monitor Integration
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/twingate-pagerduty.sh
EnvironmentFile=/etc/twingate/twingate-pagerduty.conf

[Install]
WantedBy=multi-user.target